{{!-- * Setup the `main.handlebars` file so it's able to be used by Handlebars. --}}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Eat-Da-Burger!</title>
		<!-- JQuery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		{{!-- Custom styles --}}
		<link rel="stylesheet" type="text/css" href="public/assets/css/burger_style.css">
		{{!-- Page logic --}}
		<script src="public/assets/js/logic.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
